<p>Merci de votre participation au concours de logo des BdE/Amicales des INSA.</p>

<p>
	Voici le liens de confirmation du vote : <a href="<%= root_url %>votes/validate/<%= @vote.tocken %>">ici</a><br>
	Les résultats vous seront transmis par vos BdE/Amicales respectives, après la cloture des votes.
</p> 

<p>
	Cordialement, <br>
	Le bureau de l'AEI
</p>