@import "bourbon";

.container {
  width: 900px;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 2.5641%
}

.btn-group {
  margin-top: 5px;
  margin-left: 70px;
}

.jumbotron {
  text-align: center;
  margin: 60px 0;

  h1 {
    font-size: 4em;
    line-height: 60px;
  }
}

.selected {
  -webkit-box-shadow: 2px 2px 5px 3px #49afcd;
  -moz-box-shadow: 2px 2px 5px 3px #49afcd;
  box-shadow: 2px 2px 5px 3px #49afcd;
}