<h1>Vote pour le concours de logo AEI</h1>

<h2>Présentation des proposition</h2>

<div clas="prop">
  <h3>Proposition 1</h3>
  <p>BLAALBLBLa</p>
</div>

<div clas="prop">
  <h3>Proposition 2</h3>
  <p>BLAALBLBLa</p>
</div>

<div clas="prop">
  <h3>Proposition 3</h3>
  <p>BLAALBLBLa</p>
</div>

<div clas="prop">
  <h3>Proposition 4</h3>
  <p>BLAALBLBLa</p>
</div>

<%= render 'form'  %>