<h2 id="proposition">Présentation des proposition</h2>

<div clas="prop well">
  <h3>Proposition 1</h3>
    <%= image_tag asset_path('Braice/Logo aeir.png'), class: "img-polaroid" %>
</div>

<div clas="prop well">
  <h3>Proposition 2</h3>
  
</div>

<div clas="prop">
  <h3>Proposition 3</h3>
  <p>BLAALBLBLa</p>
</div>

<div clas="prop">
  <h3>Proposition 4</h3>
  <p>BLAALBLBLa</p>
</div>

<hr>

<div id="vote">
  <%= render 'form'  %>
</div>